In [137]:
# Imports
import pandas as pd
from path import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn import preprocessing
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, Dropout, Activation
from tensorflow.keras.models import Model
from sklearn.metrics import mean_absolute_error
from math import sqrt

%matplotlib inline

In [138]:
diamond_df = pd.read_csv(
    Path("Diamonds_price_data.csv")
)

# Review the DataFrame
diamond_df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [139]:
diamond_df['color'] = diamond_df['color'].replace(['J','I','H','G','F','E','D'],[1,2,3,4,5,6,7])
diamond_df['cut'] = diamond_df['cut'].replace(['Fair','Good','Very Good','Premium','Ideal'],[1,2,3,4,5])
diamond_df['clarity'] = diamond_df['clarity'].replace(['I3','I2','I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF'],[1,2,3,4,5,6,7,8,9,10])


X = diamond_df.drop(columns=["price"]).copy()
diamond_df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,5,6,4,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,4,6,5,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,2,6,7,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,4,2,6,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,2,1,4,63.3,58.0,335,4.34,4.35,2.75

In [140]:
y = diamond_df["price"]
y[:5]

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [141]:
features = diamond_df.drop(['price'], axis=1).values

labels = diamond_df['price'].values

In [142]:
#label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Country'. 
#diamond_df["cut"]= label_encoder.fit_transform(diamond_df["cut"])
#diamond_df["color"]= label_encoder.fit_transform(diamond_df["color"])
#diamond_df["clarity"]= label_encoder.fit_transform(diamond_df["clarity"])
#print(diamond_df.head())

In [143]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_scaler = StandardScaler()
X_scaler.fit(X_train)

StandardScaler()

In [144]:
#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)

In [145]:
#number_inputs = 22

In [146]:
#number_hidden_nodes = 12

In [147]:
#neuron = Sequential()

In [148]:
#neuron.add(Dense(units=number_hidden_nodes, input_dim=number_inputs, activation="relu"))

In [149]:
#neuron.add(Dense(1, activation="sigmoid"))

In [150]:
#neuron.summary()

In [151]:
input_layer = Input(shape=(features.shape[1],))
l1 = Dense(100, activation='relu')(input_layer)
l2 = Dense(50, activation='relu')(l1)
l3 = Dense(25, activation='relu')(l2)
output = Dense(1)(l3)

In [152]:
model = Model(inputs=input_layer, outputs=output)
model.compile(loss="mean_absolute_error" , optimizer="adam", metrics=["mean_absolute_error"])

In [153]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [154]:
input_layer = Input(shape=(features.shape[1],))
l1 = Dense(100, activation='relu')(input_layer)
l2 = Dense(50, activation='relu')(l1)
l3 = Dense(25, activation='relu')(l2)
output = Dense(1)(l3)

In [155]:
model = Model(inputs=input_layer, outputs=output)
model.compile(loss="mean_absolute_error" , optimizer="adam", metrics=["mean_absolute_error"])

In [156]:
print(model.summary())

Model: "model_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_6 (InputLayer)        [(None, 10)]              0

 dense_35 (Dense)            (None, 100)               1100

 dense_36 (Dense)            (None, 50)                5050

 dense_37 (Dense)            (None, 25)                1275

 dense_38 (Dense)            (None, 1)                 26

=================================================================
Total params: 7,451
Trainable params: 7,451
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
history = model.fit(X_train, y_train, batch_size=2, epochs=20, verbose=1, validation_split=0.2)

Epoch 1/20
16183/16183 [==============================] - 27s 2ms/step - loss: 533.5164 - mean_absolute_error: 533.5164 - val_loss: 412.5744 - val_mean_absolute_error: 412.5744
Epoch 2/20
16183/16183 [==============================] - 25s 2ms/step - loss: 389.5643 - mean_absolute_error: 389.5643 - val_loss: 342.7712 - val_mean_absolute_error: 342.7712
Epoch 3/20
16183/16183 [==============================] - 24s 2ms/step - loss: 287.5555 - mean_absolute_error: 287.5555 - val_loss: 198.6246 - val_mean_absolute_error: 198.6246
Epoch 4/20
16183/16183 [==============================] - 24s 1ms/step - loss: 181.3473 - mean_absolute_error: 181.3473 - val_loss: 163.0933 - val_mean_absolute_error: 163.0933
Epoch 5/20
16183/16183 [==============================] - 25s 2ms/step - loss: 156.6439 - mean_absolute_error: 156.6439 - val_loss: 133.6365 - val_mean_absolute_error: 133.6365
Epoch 6/20
16183/16183 [==============================] - 24s 1ms/step - loss: 135.8640 - mean_absolute_error: 135.8640 - val_loss: 111.7279 - val_mean_absolute_error: 111.7279
Epoch 7/20
16183/16183 [==============================] - 25s 2ms/step - loss: 118.8169 - mean_absolute_error: 118.8169 - val_loss: 163.7648 - val_mean_absolute_error: 163.7648
Epoch 8/20
16183/16183 [==============================] - 25s 2ms/step - loss: 110.1046 - mean_absolute_error: 110.1046 - val_loss: 119.4061 - val_mean_absolute_error: 119.4061
Epoch 9/20
16183/16183 [==============================] - 25s 2ms/step - loss: 101.4816 - mean_absolute_error: 101.4816 - val_loss: 76.8473 - val_mean_absolute_error: 76.8473
Epoch 10/20
16183/16183 [==============================] - 26s 2ms/step - loss: 97.0952 - mean_absolute_error: 97.0952 - val_loss: 92.7866 - val_mean_absolute_error: 92.7866
Epoch 11/20
16183/16183 [==============================] - 25s 2ms/step - loss: 91.0786 - mean_absolute_error: 91.0786 - val_loss: 63.1379 - val_mean_absolute_error: 63.1379
Epoch 12/20
16183/16183 [==============================] - 25s 2ms/step - loss: 87.3456 - mean_absolute_error: 87.3456 - val_loss: 72.7077 - val_mean_absolute_error: 72.7077
Epoch 13/20
16183/16183 [==============================] - 25s 2ms/step - loss: 84.1087 - mean_absolute_error: 84.1087 - val_loss: 157.0452 - val_mean_absolute_error: 157.0452
Epoch 14/20
16183/16183 [==============================] - 24s 1ms/step - loss: 82.0792 - mean_absolute_error: 82.0792 - val_loss: 117.3564 - val_mean_absolute_error: 117.3564
Epoch 15/20
16183/16183 [==============================] - 25s 2ms/step - loss: 78.2385 - mean_absolute_error: 78.2385 - val_loss: 77.8509 - val_mean_absolute_error: 77.8509
Epoch 16/20
16183/16183 [==============================] - 24s 1ms/step - loss: 75.9833 - mean_absolute_error: 75.9833 - val_loss: 68.8174 - val_mean_absolute_error: 68.8174
Epoch 17/20
16183/16183 [==============================] - 24s 1ms/step - loss: 74.5678 - mean_absolute_error: 74.5678 - val_loss: 62.2413 - val_mean_absolute_error: 62.2413
Epoch 18/20
16183/16183 [==============================] - 24s 1ms/step - loss: 72.9432 - mean_absolute_error: 72.9432 - val_loss: 50.4586 - val_mean_absolute_error: 50.4586
Epoch 19/20
 5312/16183 [========>.....................] - ETA: 14s - loss: 68.7185 - mean_absolute_error: 68.7185

In [136]:
pred_train = model.predict(X_train)
print(mean_absolute_error(y_train,pred_train))

pred = model.predict(X_test)
print(mean_absolute_error(y_test,pred))

1265/1265 [==============================] - 1s 949us/step
57.05324994495567
422/422 [==============================] - 0s 913us/step
55.55362320681734