In [39]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
import matplotlib.pyplot as plt
import os

In [40]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
diamond_data_df = pd.read_csv("Diamonds_price_data.csv")

# Review the DataFrame
diamond_data_df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [41]:
# Review the data types associated with the columns
diamond_data_df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [42]:
diamond_data_df = diamond_data_df.drop(columns=["Unnamed: 0", "depth"])

# Review the DataFrame
diamond_data_df

       carat        cut color clarity  table  price     x     y     z
0       0.23      Ideal     E     SI2   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
53938   0.86    Premium     H     SI2   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   55.0   2757  5.83  5.87  3.64
53940   0.71    Premium     E     SI1   55.0   2756  5.79  5.74  3.49
53941   0.71    Premium     F     SI1   62.0   2756  5.74  5.73  3.43
53942   0.70  Very Good     E     VS2   59.0   2757  5.71  5.76  3.47

[53943 rows x 9 columns]

In [43]:
categorical_variables = list(diamond_data_df.dtypes[diamond_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['cut', 'color', 'clarity']

In [44]:
data_features = diamond_data_df.drop(['price'], axis=1)
data_labels = diamond_data_df['price']

data_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53943 entries, 0 to 53942
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53943 non-null  float64
 1   cut      53943 non-null  object
 2   color    53943 non-null  object
 3   clarity  53943 non-null  object
 4   table    53943 non-null  float64
 5   x        53943 non-null  float64
 6   y        53943 non-null  float64
 7   z        53943 non-null  float64
dtypes: float64(5), object(3)
memory usage: 3.3+ MB

In [45]:
cut_categories = ['Fair','Good','Very Good','Premium','Ideal']
color_categories = ['J','I','H','G','F','E','D']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']
encod = OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])

data_features[['cut','color','clarity']] = encod.fit_transform(data_features[['cut','color','clarity']])

In [46]:
SEED = 123
#split data into train_validation_test set
x_train,x_vtest,y_train,y_vtest = train_test_split(data_features, data_labels, test_size=0.4, random_state=SEED)
x_val,x_test,y_val,y_test = train_test_split(x_vtest, y_vtest, test_size=0.5, random_state=SEED)

In [47]:
scaler = StandardScaler()
scaler.fit(x_train)
scaler.transform(x_train)
scaler.transform(x_val)
scaler.transform(x_test)

array([[ 0.46395377,  0.97846375, -0.23129574, ...,  0.69862261,
         0.7121326 ,  0.47249257],
       [ 0.48503852,  0.97846375,  0.93965478, ...,  0.63627638,
         0.64275323,  0.7167004 ],
       [ 0.67480128,  0.08429221, -1.40224626, ...,  0.91238112,
         0.83354648,  0.78852623],
       ...,
       [-0.61136853,  0.97846375,  0.93965478, ..., -0.46814258,
        -0.52802353, -0.53306906],
       [-0.84330079, -0.80987933, -0.23129574, ..., -0.87784639,
        -0.88359276, -0.79164205],
       [ 0.78022504,  0.97846375, -0.23129574, ...,  1.01035377,
         0.95496037,  0.87471722]])

In [48]:
#create FNN using Tensorflow Keras
model = tf.keras.Sequential()

model.add(tf.keras.Input(shape=(x_train.shape[-1],)))
model.add(tf.keras.layers.Dense(128,activation='elu', kernel_regularizer=tf.keras.regularizers.l2(l2=0.01)))
model.add(tf.keras.layers.Dense(64,activation='elu', kernel_regularizer=tf.keras.regularizers.l1(l1=0.05)))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(32,activation='elu', kernel_regularizer=tf.keras.regularizers.l1(l1=0.05)))
model.add(tf.keras.layers.Dense(16,activation='elu', kernel_regularizer=tf.keras.regularizers.l2(l2=0.01)))
model.add(tf.keras.layers.Dense(1))

In [49]:
#compile model
model.compile(optimizer='adam', loss='mse',metrics=['mse','mae'])

In [50]:
model.summary()
tf.keras.utils.plot_model(model, show_shapes=True, show_layer_names=True, show_layer_activations=True)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 128)               1152

 dense_11 (Dense)            (None, 64)                8256

 dropout_2 (Dropout)         (None, 64)                0

 dense_12 (Dense)            (None, 32)                2080

 dense_13 (Dense)            (None, 16)                528

 dense_14 (Dense)            (None, 1)                 17

=================================================================
Total params: 12,033
Trainable params: 12,033
Non-trainable params: 0
_________________________________________________________________
You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model/model_to_dot to work.

In [51]:
log_dir="logs/fit/"
tb_callback=tf.keras.callbacks.TensorBoard(log_dir=log_dir)
es_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss',patience=3,verbose=1,mode='min')

history = model.fit(x_train, y_train, validation_data=(x_val, y_val), batch_size=60, epochs=100, callbacks=[tb_callback, es_callback])

Epoch 1/100
540/540 [==============================] - 5s 5ms/step - loss: 11333756.0000 - mse: 11333687.0000 - mae: 2245.6365 - val_loss: 1944451.6250 - val_mse: 1944359.5000 - val_mae: 880.4662
Epoch 2/100
540/540 [==============================] - 2s 5ms/step - loss: 1705030.7500 - mse: 1704932.2500 - mae: 793.7779 - val_loss: 1279025.5000 - val_mse: 1278924.8750 - val_mae: 673.1044
Epoch 3/100
540/540 [==============================] - 2s 5ms/step - loss: 1495295.7500 - mse: 1495193.6250 - mae: 733.9932 - val_loss: 1211774.6250 - val_mse: 1211670.6250 - val_mae: 623.1149
Epoch 4/100
540/540 [==============================] - 2s 5ms/step - loss: 1398255.2500 - mse: 1398148.2500 - mae: 698.4778 - val_loss: 1022534.1875 - val_mse: 1022426.5625 - val_mae: 573.0751
Epoch 5/100
540/540 [==============================] - 2s 5ms/step - loss: 1342787.1250 - mse: 1342679.0000 - mae: 680.5366 - val_loss: 1265337.7500 - val_mse: 1265227.7500 - val_mae: 671.6041
Epoch 6/100
540/540 [==============================] - 2s 5ms/step - loss: 1263398.0000 - mse: 1263286.7500 - mae: 664.8279 - val_loss: 949092.2500 - val_mse: 948980.0625 - val_mae: 569.2083
Epoch 7/100
540/540 [==============================] - 2s 5ms/step - loss: 1247469.3750 - mse: 1247354.5000 - mae: 656.6837 - val_loss: 999627.3125 - val_mse: 999511.1250 - val_mae: 566.2846
Epoch 8/100
540/540 [==============================] - 2s 5ms/step - loss: 1170888.8750 - mse: 1170771.7500 - mae: 635.6057 - val_loss: 835725.6875 - val_mse: 835607.0625 - val_mae: 514.7584
Epoch 9/100
540/540 [==============================] - 2s 5ms/step - loss: 1137692.2500 - mse: 1137573.0000 - mae: 627.1678 - val_loss: 786981.9375 - val_mse: 786860.1875 - val_mae: 501.3456
Epoch 10/100
540/540 [==============================] - 2s 5ms/step - loss: 1112525.6250 - mse: 1112402.5000 - mae: 620.0181 - val_loss: 709403.9375 - val_mse: 709280.0625 - val_mae: 471.8873
Epoch 11/100
540/540 [==============================] - 2s 5ms/step - loss: 1045483.8125 - mse: 1045358.6875 - mae: 594.0482 - val_loss: 672144.5000 - val_mse: 672018.3125 - val_mae: 461.3740
Epoch 12/100
540/540 [==============================] - 2s 5ms/step - loss: 1020107.1875 - mse: 1019980.0000 - mae: 590.2141 - val_loss: 621328.1875 - val_mse: 621199.5000 - val_mae: 449.3390
Epoch 13/100
540/540 [==============================] - 2s 5ms/step - loss: 969195.9375 - mse: 969066.6250 - mae: 578.6154 - val_loss: 606874.5000 - val_mse: 606743.9375 - val_mae: 452.0355
Epoch 14/100
540/540 [==============================] - 2s 5ms/step - loss: 963574.0000 - mse: 963442.8750 - mae: 573.9939 - val_loss: 621003.4375 - val_mse: 620871.3750 - val_mae: 449.6628
Epoch 15/100
540/540 [==============================] - 3s 5ms/step - loss: 935158.0625 - mse: 935025.5625 - mae: 562.8013 - val_loss: 595921.6875 - val_mse: 595787.9375 - val_mae: 442.1602
Epoch 16/100
540/540 [==============================] - 2s 4ms/step - loss: 915828.1875 - mse: 915693.5625 - mae: 558.7292 - val_loss: 642234.9375 - val_mse: 642100.0625 - val_mae: 455.5670
Epoch 17/100
540/540 [==============================] - 3s 5ms/step - loss: 898744.3750 - mse: 898608.8125 - mae: 550.9550 - val_loss: 573966.8750 - val_mse: 573830.5625 - val_mae: 432.7750
Epoch 18/100
540/540 [==============================] - 3s 5ms/step - loss: 841973.6875 - mse: 841836.7500 - mae: 535.9344 - val_loss: 563864.1875 - val_mse: 563726.8750 - val_mae: 413.7261
Epoch 19/100
540/540 [==============================] - 2s 5ms/step - loss: 886345.1250 - mse: 886207.3125 - mae: 544.1470 - val_loss: 492143.4688 - val_mse: 492005.0000 - val_mae: 392.2105
Epoch 20/100
540/540 [==============================] - 2s 5ms/step - loss: 860750.5625 - mse: 860611.2500 - mae: 538.5920 - val_loss: 577124.4375 - val_mse: 576984.7500 - val_mae: 460.7158
Epoch 21/100
540/540 [==============================] - 2s 5ms/step - loss: 814948.9375 - mse: 814809.8750 - mae: 520.4608 - val_loss: 484889.7188 - val_mse: 484749.6875 - val_mae: 387.7045
Epoch 22/100
540/540 [==============================] - 3s 5ms/step - loss: 816620.1875 - mse: 816479.9375 - mae: 521.4614 - val_loss: 467304.2812 - val_mse: 467163.4688 - val_mae: 385.0394
Epoch 23/100
540/540 [==============================] - 2s 5ms/step - loss: 798419.7500 - mse: 798277.8750 - mae: 515.2828 - val_loss: 472365.5312 - val_mse: 472223.2500 - val_mae: 391.9974
Epoch 24/100
540/540 [==============================] - 2s 5ms/step - loss: 810272.3125 - mse: 810129.9375 - mae: 521.1323 - val_loss: 446496.1875 - val_mse: 446353.4688 - val_mae: 385.5331
Epoch 25/100
540/540 [==============================] - 2s 5ms/step - loss: 791610.1250 - mse: 791467.0000 - mae: 509.3998 - val_loss: 505873.2188 - val_mse: 505729.2500 - val_mae: 453.2042
Epoch 26/100
540/540 [==============================] - 2s 5ms/step - loss: 790022.2500 - mse: 789878.4375 - mae: 511.7799 - val_loss: 442666.5000 - val_mse: 442521.8125 - val_mae: 395.5356
Epoch 27/100
540/540 [==============================] - 2s 5ms/step - loss: 765588.1250 - mse: 765443.1875 - mae: 503.9088 - val_loss: 505328.1562 - val_mse: 505182.7500 - val_mae: 427.2776
Epoch 28/100
540/540 [==============================] - 2s 5ms/step - loss: 739942.4375 - mse: 739797.1875 - mae: 496.9625 - val_loss: 413016.1562 - val_mse: 412869.5938 - val_mae: 354.7424
Epoch 29/100
540/540 [==============================] - 2s 5ms/step - loss: 759401.0000 - mse: 759254.0625 - mae: 501.6107 - val_loss: 395895.9375 - val_mse: 395748.9375 - val_mae: 346.0965
Epoch 30/100
540/540 [==============================] - 2s 5ms/step - loss: 748518.0625 - mse: 748370.4375 - mae: 494.1605 - val_loss: 401904.6562 - val_mse: 401756.9375 - val_mae: 347.1674
Epoch 31/100
540/540 [==============================] - 2s 5ms/step - loss: 752669.9375 - mse: 752521.6875 - mae: 497.1007 - val_loss: 403274.4688 - val_mse: 403126.0312 - val_mae: 351.2652
Epoch 32/100
540/540 [==============================] - 3s 5ms/step - loss: 726052.1250 - mse: 725902.7500 - mae: 486.6104 - val_loss: 413998.8750 - val_mse: 413849.4375 - val_mae: 367.8199
Epoch 32: early stopping

In [52]:
test_result = model.evaluate(x_test,y_test,batch_size=40)
print(f"Test loss = {test_result[0]}")
print(f"Test mse = {test_result[1]}")
print(f"Test mae = {test_result[2]}")

270/270 [==============================] - 1s 3ms/step - loss: 418932.3125 - mse: 418782.8750 - mae: 371.8444
Test loss = 418932.3125
Test mse = 418782.875
Test mae = 371.8443908691406